.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  margin: 0 auto;
  background-color: white;
  min-width: 8px;
  width: 80%;
}

.header_logo {
  text-decoration: none;
  color: rgb(48, 107, 156);
  justify-content: space-around;
}
.cart{
align-items: center;
}
.user_icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.badge {
  background-color: #b94517;
  padding: 0.1rem 0.25rem;
  border-radius: 10px;
  font-weight: bold;
}
.card_button{
margin-top: 0px;
}


#image{
width: 30px;
height: 30px;

}